.main-container {
  width: 1110px;
  height: 407px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-heading {
  color: #333b69;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
  width: 1110px;
  height: 364px;
  flex-shrink: 0;

  border-radius: 25px;
  background: #fff;
}
